*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: rgb(27, 27, 27);
    font-family:monospace;
}
#title {
    color:rgba(255, 255, 255, 0.15);
    font-size:4.5em;
    margin-top:50px;
    text-align: center;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0;
    letter-spacing: 3px;
    opacity: 0;
}
#titleLogin{
    color:rgba(255, 255, 255, 0.15);
    font-size:6em;
    margin-top:50px;
    text-align: center;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0;
    letter-spacing: 3px;
    text-shadow: -3px -3px 0px rgba(255,255,255,0.15); 
}
#title-position{
    position: absolute;
    left:100px;
    top:50%;
    font-size: 6em;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    margin-top: 50px;
    margin-right: auto; 
    margin-left: auto;  
    flex-direction: row; 
}
.box{
    width: 330px;
    height: 500px;
    margin: 0px 35px;
    position: relative;
    cursor: pointer;
    float: left;
}
.box .table{
    height: 300px;
    width: 300px;
}
.box .table img{
    height: 100%;
    width: 100%;
}
.box .play{
    position: absolute;
    top:70%;
    left:50%;
    transform: translate(-55%,-50%);
    margin-top:15px;
    font-size:3em;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    letter-spacing: 2px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    padding:30px;
    width: 300px;
    color:rgba(255, 255, 255, 0.1);
    text-shadow:-3px -3px yellowgreen ;
    overflow: hidden;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
}
.box .play:before{
    content:'';
    position: absolute;
    top:2px;
    left:2px;
    bottom: 2px;
    width: 50%;
    background-color: rgba(255,255,255,0.01);
}
.box .play span:nth-child(1){
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 2px;
    background: linear-gradient(to right,#0c002b ,#39ff14);
    animation: animate 2s linear infinite;
}
.box .play span:nth-child(2){
    position: absolute;
    top:0;
    right:0;
    width:2px;
    height: 100%;
    background: linear-gradient(to bottom,#0c002b ,#39ff14);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}
.box .play span:nth-child(3){
    position: absolute;
    bottom:0;
    right:0;
    width:100%;
    height: 2px;
    background: linear-gradient(to left,#0c002b ,#39ff14);
    animation: animate3 2s linear infinite;
}
.box .play span:nth-child(4){
    position: absolute;
    bottom:0;
    left:0;
    width:2px;
    height: 100%;
    background: linear-gradient(to top,#0c002b ,#39ff14);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
@keyframes animate2{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}
@keyframes animate3{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes animate4{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}
#sudoku{
    color:#fff;
    text-align: center;
    left:50%;
    position: absolute;
    transform:translateX(-50%);
    top:30px;
}
#sudoku table{
    width: 500px;
    height: 500px;
    font-size: 20px;
}
td{
    height:25px;
    width:25px;
}
.sudokuInput{
    width:25px;
    text-align:center;
    background:transparent;
    font-size:20px;
    color:#fff;
    border:none;
}
tr:nth-child(3),tr:nth-child(6){
    border-bottom: 4px solid #fff;
}
td:nth-child(3),td:nth-child(6){
    border-right: 4px solid #fff;
}
.trytosolve{
    padding: 10px 30px;
    font-size: 25px;
    border: 1px solid #39ff14;
    margin: 30px 20px;
    background: transparent;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    color:#75c467;
    float: left;
    font-weight: 200;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    text-align: center;
}
body{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-family: sans-serif;
    font-size: small;
    text-align: center;
    width: 100%;
    height: 100%;
}

#login{
    position: relative;
    margin: 0;

}

.login{
    border-radius: 3px;
    width: 33%;
    padding: 20px;
    margin: 20px;
    font-size: 14pt;
    position: relative;
    background: 0%;
    border: #39ff14;
    border-width: 2px;
    border-style: solid;
    color: #ffffff;
}

#enter{
    padding: 20px;
    margin: 20px;
    font-size: 14pt; 
    color:  rgb(27, 27, 27);
    background-color:  #39ff14;
    border-style: none;
    border-radius: 2px;
    width: 33%;
    font-weight: bold;
    letter-spacing: 3px;
}
.fillBack{
    color:#fff;
    font-size:18px;
}